{% extends "raw.html" %}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{title}}{% endblock %}
{% block body %}

<div>
    <form action="/search_books" method="POST">
        <input name="search_text" type="text" placeholder="Search">
        <input type="submit" value="Search" name="search">
    </form>
    <form action="/generate_loan_book" method="post">
        <input type="submit" name="do" value='Loan 50 Books automatically'>
    </form>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data %}
        <tr>
            {% for col, row_ in zip(column_names, row) %}
            {% if col == link_column %}
            <td>
                <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">
                    {{ row_ }}
                </button>
            </td>
            {% elif col == 'n_book_id' or col == 'action' %}
            <td>
                <form action="/loan_book" method="post">
                    <input type="submit" name="do" value='Loan'>
                    <input type="hidden" name="book_id" value={{row_}}>
                </form>
            </td>
            {% else %}
            <td>{{row_}}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

