<!-- index.html-->

{% extends "raw.html" %}
{% block title %}Home{% endblock %}
{% block heading %}Home{% endblock %}
{% block body %}

<div align="center">
    <p>Total amount of books in the system: {{ amount_book_total }}</p>
    <p>Total amount of loans in the system: {{ amount_books_loaned }}</p>
</div>

<div>
    <div align="left">
        <span data-feather="help-circle"></span>
        <h3>What is Biblio?</h3>
        <p>
            Biblio is your tool to manage your own private book collection.
            Whether you want to keep track of all your books. Find gems you forgot about or keep track of your reading list.

            With Biblio you can also invite friends and family to your private library. It allows you to share and borrow books between each other.
        </p>
    </div>
    <br>
    <div align="left">
        <span data-feather="award"></span>
        <h3>TOP 10 Most loaned books</h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <tr>
                    {% for col in column_names %}
                    <th>{{col}}</th>
                    {% endfor %}
                </tr>
                {% for row in row_data %}
                <tr>
                    {% for col, row_ in zip(column_names, row) %}
                    {% if col == link_column %}
                    <td>
                        <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">
                            {{ row_ }}
                        </button>
                    </td>
                    {% elif col == 'n_book_id' or col == 'action' %}
                    <td>
                        <form action="/loan_book" method="post">
                            <input type="submit" name="do" value='Loan'>
                            <input type="hidden" name="book_id" value={{row_}}>
                        </form>
                    </td>
                    {% else %}
                    <td>{{row_}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
</div>


{% endblock %}