<!-- about.html-->

{% extends "raw.html" %}
{% block title %}Profile{% endblock %}
{% block heading %}Profile{% endblock %}
{% block body %}

<div>
    <br>
    <div align="left">
        <span data-feather="award"></span>
        <h3>Welcome back {{user}}!</h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Customer ID</th>
                </tr>
                {% for row in row_data %}
                <tr>
                    {% for col, row_ in zip(column_names, row) %}
                    <td>{{row_}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
</div>
{% endblock %}
